<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Weather Foreast</h1>

    <% if (error) {%>
        <p style = "color: red;"><%= error%></p>
    <% }else if (weatherData){ %>
        <h2>City: <%= weatherData.city %></h2>
        <p>Will it rain tomorrow? <%= weatherData.willRain ? "Yes" : "No" %></p>
    <% }else{ %>
        <p>Enter a city to get the weather forecast. </p>
    <% } %>

    <from action="/" method="GET">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" required>
        <button type="submit">Check Weather</button>
    </from>
    
</body>
</html>